@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "SpaceMono";
    src: url("/assets/fonts/SpaceMono-Regular.ttf");
}

.font-space-mono{
    font-family: "SpaceMono", Arial, Helvetica, sans-serif;
}

.bg-color{
    background-color: hsl(185, 41%, 84%);
}

.inner-card-bg{
    background-color: hsl(183, 100%, 15%);
}

.input-bg{
    background-color: hsl(189, 41%, 97%);
    border: none;
}

.text-color{
    color: hsl(184, 14%, 56%);
}

.text-color-dark{
    color: hsl(186, 14%, 43%); 
}

.button-hover:hover{
    background-color: hsl(172, 70%, 62%);
    color: hsl(183, 100%, 15%);;
}

.reset-btn-bg{
    background-color: hsl(172, 67%, 45%);
}

.input-text-color{
    color: hsl(183, 100%, 15%);
}

.stuff:focus{
    border: 2px solid hsl(172, 70%, 62%); 
}

.money-number-color{
    color: hsl(172, 67%, 45%);
}

.input-icons{
    width: 100%;
}

.input-icons img{
    position: absolute;
}

.icon{
    padding: .9rem;
    min-width: 1rem;
}